# Swift Package Manager
.build/
.swiftpm/

# JavaScript build dependencies
ArgusWeb/node_modules/

# Xcode
xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
build/

# macOS
.DS_Store
*.swp
*~

# Archives & builds
*.ipa
*.dSYM.zip
*.dSYM
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Code coverage
*.gcno
*.gcda

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
